# JMeter результаты и отчеты
jmeter-tests/report/
jmeter-tests/*.jtl

# Secrets - не для github
jmeter-tests/test-data/secrets.csv

# OS files
.DS_Store      # macOS
Thumbs.db      # Windows
desktop.ini    # Windows (ещё один служебный файл)

jmeter-tests/LERS_Auth_Test.jmx
LERS_Auth_Login_Success.jmx